html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif!important;
}

#canvas {
    width: 100%;
    height: 100vh; 
    position: absolute;
} 

/* Google Fonts
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
/* html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
} */

/* Animation */
/* .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}  */

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.start-btn {
    margin-top: 700px;
    margin-left: 110px;
    font-size: 30px!important;
    position: relative;
    transition: 0,5s;
    /* left: -2000px; */
    /* -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide hvr-wobble-top 0.5s forwards;
    animation-delay: 0.5s; */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #ff0077;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.start-btn:hover {
    -webkit-animation: hvr-wobble-top 0.5s forwards;
    animation: hvr-wobble-top 0.5s forwards;
}

.start-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffd000;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.start-btn:hover, .start-btn:focus, .start-btn:active {
    color: white;
}

.start-btn:hover:before, .start-btn:focus:before, .start-btn:active:before {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

@-webkit-keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-top {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

/* @-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} */

.start-btn:hover {
    background-color: rgb(235, 82, 189)!important;
    font-weight: 650!important;
    border: none!important;
}

header {
    padding-top: 205px;
    background-color: #02A89E;
}

.about-main {
    height: 100vh;
    background-image: url(../images/bg18.png);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work-main {
  position: relative;
  height: 100vh;
  background-image: url(../images/bg17.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.other-main {
  position: absolute;
  width: 100%;
  height: 100vh;  
  background-image: url(../images/bg20.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact-main {
  position: relative;
  width: 100%;
  height: 100vh;  
  background-image: url(../images/purpleBg.png);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nav {
    background-color: transparent!important;
    height: 80px;
}

.navbar-collapse {
    float: right
}

.nav-link {
    font-family: 'Bungee Shade'!important;
    color: rgb(0, 0, 0)!important;
    font-size: 25px!important;
    padding-left: 50px!important;
}

.navbar-header {
    font-size: 30px!important;
}

.myImage {
    width: 300px;
    height: 300px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.about-header { 
    font-size: 50px!important;
    font-weight: bold!important;
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Bungee Shade'!important;
    color: rgb(0, 0, 0)!important;
}

.image-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    left: -2000px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 3s;
}

.col {
    padding-right: 0px!important;
}

.about-container {
    margin-bottom: 200px;
    width: 90%!important;
    padding-top: 50px!important;
    margin-right: auto;
    margin-left: auto;
}

.skills-container {
    margin-left: auto;
    margin-right: auto;
}

.progress {
    margin-bottom: 10px;
}

.about-label {
    font-weight: 600!important;
    display: block!important;
}

.about-text {
    font-size: 20px!important;
}

.work-container {
    width: 90%;
}

.work-header {
    font-size: 50px!important;
    padding-top: 80px;
    font-weight: bold!important;
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Bungee Shade'!important;
    color: rgb(0, 0, 0)!important;
}

.video-container {
  margin-top: 100px!important;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#video {
    width: 500px;
    border-radius: 5px;
    border: 5px solid rgb(58, 54, 54);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.granny-container {
    padding-top: 60px;
}

.granny-container {
    font-size: 26px;
}

.section-header {
    font-weight: bold!important;
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Bungee Shade'!important;
    color: rgb(35, 32, 39)!important;
}

.granny-button {
    margin-right: 20px;
    background-color: rgb(255, 72, 133);
    box-shadow: rgba(16, 148, 71, 0.4) -5px 5px, rgba(29, 158, 83, 0.3) -10px 10px, rgba(46, 240, 95, 0.2) -15px 15px, rgba(46, 240, 78, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.other-container {
  height: 100vh;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.contact-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#mario-gif {
    position: absolute;
    width: 500px;
    bottom: 0px;
    left: 0px;
}

.other-header {
    font-size: 50px!important;
    padding-top: 40px;
    font-weight: bold!important;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Bungee Shade'!important;
    color: rgb(0, 0, 0)!important;
}

.slide-container {
    margin-left: auto;
    margin-right: auto;
}

.car-img {
    border-radius: 5px!important;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.4) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px, rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px;
    margin-bottom:20px;
}

.carousel-item {
    text-align: center;
    padding-bottom: 60px;
}

.car-header {
    color: rgb(255, 255, 255);
    font-weight: bolder!important;
    text-shadow: 0px 1px 0 #ffffff, -1px 5px 0 #0a0e27;
}

@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
}
  
@keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
}

.btn-slide {
    color: rgb(255, 255, 255)!important;
    font-size: 20px!important;
    font-weight: bolder!important;
    border: 2px solid rgb(0, 0, 0)!important;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    background-image: url(../images/brick.jpg)!important;
}

.btn-slide:hover, .btn-slide:focus, .btn-slide:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.contact-img {
  width: 500px;
  bottom: 0px;
  left: 0px;
}

.contact-header {
  font-size: 50px!important;
  padding-top: 100px;
  font-weight: bold!important;
  text-align: center;
  padding-bottom: 25px;
  font-family: 'Bungee Shade'!important;
  color: rgb(29, 26, 26)!important;
}

.contact-context {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  width: 100%;
  display: block;
  padding: 0px!important;
  margin-top: 50px;
  padding-bottom: 50px!important;
  background-color: rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.form-email{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.form-label {
  display: block!important;
  font-size: 20px;
}

.input { 
  padding: 0px!important; 
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  border-radius: 3px;
  border: 2px solid rgb(26, 189, 94);
  width: 90%;
  height: 35px;
  /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
}

#message {
  border-radius: 3px;
  width: 90%;
  border: 2px solid rgb(26, 189, 94);
  /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
}

.submit-btn {
  margin-left: auto!important;
  margin-right: auto!important;
  padding: 10px;
  margin-top: 15px;
  font-size: 15px!important;
}

.submit-btn:hover {
  background-color: #ff387a;
}

.footer-content {
  width: 90%;
  text-align: center;
}

footer {
  height: 300px;
  background-color: rgb(130, 255, 161);
}

.footer-header {
  font-size: 50px!important;
  padding-top: 20px;
  font-weight: bold!important;
  padding-bottom: 20px;
  font-family: 'Bungee Shade'!important;
  color: rgb(0, 0, 0)!important;
}

i {
  padding: 20px;
}

.fa-linkedin {
  color: #ff2db9!important;
}

.fa-envelope {
  color: #ffbb00;
}

.fa-github {
  color: #001aff;
}

a{
  text-decoration: none!important;
}